/**
 * @prop --radh-button-background-color
 * @prop --radh-button-color
 */

button {
  background-color: var(--radh-button-background-color, orange);
  border: none;
  color: var(--radh-button-color, white);
  margin: 10px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}