.card {
  position: relative;

  padding: calc(var(--size, 8px) * 8) 0;

  background-color: var(--radh-white, #fff);
  box-shadow: var(--radh-modal-shadow, 0 0 2rem rgba(0, 0, 0, 0.1));
}

.content {
  padding: 0 calc(var(--size, 8px) * 3);
}

.card .title {
  font-size: calc(var(--font-size, 14px) * 2.3);
  font-weight: bold;
  margin: 0;
}

.card .description {
  font-size: calc(var(--font-size, 14px) * 1.3);
  margin-top: calc(var(--size, 8px) * 2);
  margin-bottom: calc(var(--size, 8px) * 8);
  line-height: 1.67;
}

.card .footer {
  display: flex;
  justify-content: flex-end;
}

.card .separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
